<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight2View</title>
</head>
<body class="h-full">
    <div id="app" class="bg-[#F8FAFC] min-h-screen">
        <header class="flex flex-row w-full justify-between p-4 mb-4 h-[10vh]">
            <a href="https://github.com/Crimson-Amir/Weight2View" class="w-[24px] h-[24px]" target="_blank" rel="noopener noreferrer">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                      </svg>
                </span>
            </a>
            <span class="font-bold">
                Weight2View <span class="font-light">— Made with ❤️</span>
            </span>
            <span class="w-[24px] h-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                    <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0"/>
                  </svg>
            </span>
        </header>
        <main class="w-[90%] mx-auto flex flex-col gap-[30px] h-[80vh]">
            <div class="inputs flex flex-row gap-[20px]">
                <div class="relative flex-1" data-hs-combo-box="">
                    <div class="relative">
                      <input v-model="searchText" @keypress="search" class="py-3 ps-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" type="text" role="combobox" aria-expanded="false" placeholder="Enter the object's name..." data-hs-combo-box-input="">
                      <div class="absolute top-1/2 end-3 -translate-y-1/2" aria-expanded="false" data-hs-combo-box-toggle="">
                        <svg class="shrink-0 size-3.5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="m7 15 5 5 5-5"></path>
                          <path d="m7 9 5-5 5 5"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="absolute z-50 w-full max-h-72 p-1 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700" style="display: none;" data-hs-combo-box-output="">
                      <div v-for="item in searchItems" class="cursor-pointer py-2 px-4 w-full text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800" tabindex="0" data-hs-combo-box-output-item="">
                        <div class="flex justify-between items-center w-full">
                          <span :data-hs-combo-box-search-text="item.item_name" data-hs-combo-box-value="">{{item.item_name}}</span>
                          <span class="hidden hs-combo-box-selected:block">
                            <svg class="shrink-0 size-3.5 text-blue-600 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                          </span>
                        </div>
                      </div>
                    </div>
                 </div>
                <div class="amount flex-1">
                    <div class="space-y-3">
                      <input type="text" v-model="weight" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Enter the amount... (in gram)">
                    </div>
                </div>
                <button @click="findingItem" type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                  Go
                </button>
            </div>
            <div class="flex flex-col gap-[20px] h-full">
                <div class="flex flex-row items-center justify-between">
                    <h1 class="font-light text-lg">Preview</h1>
                    <button @click="reset" type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                        Reset
                    </button>
                </div>
                <div class="canvasHolder h-full">
                    <div class="canvas bg-white rounded-md h-full flex items-center justify-center">
                      <div v-if="searchIntialized" v-html="svg"></div>
                      <div v-else-if="loading">Loading...</div>
                      <div v-else class="font-light">The result will be shown here</div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script type="module" src="./js/script.js"></script>
</html>